# OS X
.DS_Store

# Cocoapods
LinkOpenSDKDemo/Podfile.lock
LinkOpenSDKDemo/Pods/
LinkOpenSDKDemo/*.xcworkspace
LinkOpenSDKDemo/LinkOpenSDKDemo.xcodeproj/xcuserdata/tonyyls.xcuserdatad/xcschemes/LinkOpenSDKDemo.xcscheme

LinkOpenSDKDemo/LinkOpenSDKDemo.xcodeproj/project.pbxproj

LinkOpenSDKDemo/LinkOpenSDKDemo.xcodeproj/project.pbxproj

LinkOpenSDKDemo/LinkOpenSDKDemo.xcodeproj/xcuserdata/tonyyls.xcuserdatad/xcschemes/xcschememanagement.plist

LinkOpenSDKDemo/LinkOpenSDKDemo.xcodeproj/project.pbxproj

*.pbxproj
